In [44]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

from pyspark.sql import *

In [3]:
spark = SparkSession.builder.appName('df-banking').getOrCreate()

In [18]:
df = spark.read.csv(path = r"C:\Users\miles.MILE-BL-4492-LA\Downloads\bankmarketdata.csv", header=True, sep = ";", escape = ",", inferSchema = True )

In [48]:
df.select('age', 'balance').show()

+---+-------+
|age|balance|
+---+-------+
| 58|   2143|
| 44|     29|
| 33|      2|
| 47|   1506|
| 33|      1|
| 35|    231|
| 28|    447|
| 42|      2|
| 58|    121|
| 43|    593|
| 41|    270|
| 29|    390|
| 53|      6|
| 58|     71|
| 57|    162|
| 51|    229|
| 45|     13|
| 57|     52|
| 60|     60|
| 33|      0|
+---+-------+
only showing top 20 rows

In [20]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [24]:
#1
count = df.count()
count

45211

In [29]:
df1 = df[df['y'] == 'yes']
count_yes = df1.count()

In [33]:
success_rate = count_yes/count
success_rate*100

11.698480458295547

In [34]:
#2
df2 = df[df['y'] == 'no']
count_no = df2.count()

In [36]:
failure_rate = count_no/count
failure_rate*100

88.30151954170445

In [45]:
#3
df.select(max(df.age)).show()

+--------+
|max(age)|
+--------+
|      95|
+--------+

In [46]:
df.select(min(df.age)).show()

+--------+
|min(age)|
+--------+
|      18|
+--------+

In [47]:
df.select(mean(df.age)).show()

+-----------------+
|         avg(age)|
+-----------------+
|40.93621021432837|
+-----------------+

In [49]:
#4
df.select(mean(df.balance)).show()

+------------------+
|      avg(balance)|
+------------------+
|1362.2720576850766|
+------------------+

In [61]:
df.approxQuantile('balance', [0.5], 0)

[448.0]

In [55]:
#5
df1.groupBy('age').count().show()

+---+-----+
|age|count|
+---+-----+
| 31|  206|
| 85|    4|
| 65|   21|
| 53|   85|
| 78|   14|
| 34|  198|
| 28|  162|
| 76|   16|
| 26|  134|
| 27|  141|
| 44|   93|
| 22|   40|
| 47|  113|
| 52|   85|
| 40|  116|
| 20|   15|
| 57|   78|
| 54|   84|
| 48|   82|
| 19|   11|
+---+-----+
only showing top 20 rows

In [56]:
#6
df1.groupBy('marital').count().show()

+--------+-----+
| marital|count|
+--------+-----+
|divorced|  622|
| married| 2755|
|  single| 1912|
+--------+-----+

In [57]:
#7
df1.groupBy('age','marital').count().show()

+---+--------+-----+
|age| marital|count|
+---+--------+-----+
| 42|  single|   22|
| 66| married|   22|
| 28| married|   20|
| 59| married|   66|
| 61| married|   47|
| 21|  single|   21|
| 29|  single|  133|
| 70|divorced|    5|
| 56|  single|    6|
| 74| married|   11|
| 64|divorced|    4|
| 40|  single|   31|
| 45|  single|   14|
| 69| married|   13|
| 77| married|   19|
| 57|divorced|   15|
| 21| married|    1|
| 53| married|   60|
| 53|divorced|   18|
| 33| married|   97|
+---+--------+-----+
only showing top 20 rows